<h3>Add a project</h3>

<form action="/add_project" method="post">
  <input type="text" name="name" placeholder="Project name">
  <input type="text" name="description" placeholder="Project description">
  <button type="submit">Add project</button>
</form>
