<h3>Here are all the current projects:</h3>

<% @projects.each do |project| %>
  <a href="/project/<%= project['id'] %>"><h4><%= project['name'] %></h4></a>
<% end %>
<hr>
<a href="/add_project"><h4>Add project</h4></a>
